# Browser to test with
MEMBERS_TEST_BROWSER=chrome

# Basic site URL
MEMBERS_TEST_BASEURL=https://localhost:8443

# Basic site login
MEMBERS_TEST_USERNAME=someuser
MEMBERS_TEST_PASSWORD=somepassword

# Path where notifications are stored when notification is set to "file"
MEMBERS_TEST_NOTIFICATION_PATH=path/to/docker/file/root

# A secondary login to test interactions between persons
MEMBERS_TEST_SECOND_USERNAME=someotheruser
MEMBERS_TEST_SECOND_USERNAME=someotherpassword
MEMBERS_TEST_SECOND_USER_DISPLAYNAME=Displayname of second user

# The local path the browser will store downloads
MEMBERS_TEST_DOWNLOAD_DIR=~/Downloads

# Path to a test file to embed
MEMBERS_TEST_EMBED_IMAGE=./assets/testimage.png