# Browser to test with
MEMBERS_TEST_BROWSER=chrome

# Basic site URL
MEMBERS_TEST_BASEURL=https://localhost:8443

# Basic site login (use the PrepareTasks tasks to create this user)
MEMBERS_TEST_USERNAME=test.user1
MEMBERS_TEST_PASSWORD=Huuph2zutheiphu3enoo

# First user displayname
MEMBERS_TEST_USER_DISPLAYNAME="Test User 1"

# Path where notifications are stored when notification is set to "file"
MEMBERS_TEST_NOTIFICATION_PATH=path/to/docker/file/root

# A secondary login to test interactions between persons (use the PrepareTasks tasks to create this user)
MEMBERS_TEST_SECOND_USERNAME=test.user2
MEMBERS_TEST_SECOND_PASSWORD=Ohthairaixie0eishe9a
MEMBERS_TEST_SECOND_USER_DISPLAYNAME="Test User 2"

# The local path the browser will store downloads
MEMBERS_TEST_DOWNLOAD_DIR=~/Downloads

# Path to a test file to embed
MEMBERS_TEST_EMBED_IMAGE=./assets/testimage.png

# View type of test (e.g desktop or mobile)
#MEMBERS_TEST_VIEW_TYPE=desktop

# Variables if tasks are used

# Admin login
MEMBERS_TEST_ADMIN_USERNAME=admin
MEMBERS_TEST_ADMIN_PASSWORD=secret

